header {
  background-color: #2a8ac3;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 1em;
  box-shadow: 4px 7px 9px #065685;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
}

footer {
  background-color: #2a8ac3;
  border-radius: 10px;
  padding: 0.25em;
  font-family: "Yuji Syuku", serif;
  box-shadow: -4px -7px 9px #065685;
  text-align: center;
}
h1 {
  font-family: "Cinzel Decorative", serif, "Times New Roman", Times, serif;
  font-size: 1.25em;
}
p {
  font-size: 0.75em;
}

ul {
  font-family: "Cinzel", serif, Tahoma, sans-serif;
  font-size: 0.75em;
  padding-top: 0.75em;
  padding-bottom: 0.5em;
}
hr {
  border-color: brown;
  border-width: 2px;
}
#name {
  color: rgb(248, 248, 248);
  padding: 20px;
  text-shadow: 3px 4px 3px #043f61;
}

#profilePict {
  border: 1px solid #06466b;
  box-shadow: 4px 5px 9px #022133;
  width: 15vh;
  height: auto;
}

#copyright {
  color: gold;
}

#lastmod {
  color: gold;
}

#course {
  text-shadow: 3px 5px 6px #5da0c7;
  text-align: center;
}

#reminder {
  font-family: "Yuji Syuku", serif, Georgia, monospace;
  padding: 0.25em;
}
