header {
  background-color: #2a8ac3;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  border-radius: 10px;
  padding: 1em;
  box-shadow: -4px -5px 6px #065685;
}

#name {
  color: rgb(224, 216, 205);
  padding: 10px;
  text-shadow: 3px 4px 3px #065685;
}

#profilePict {
  border: 1px solid #06466b;
  box-shadow: 4px 5px 9px #022133;
}
footer {
  background-color: #2a8ac3;
  border-radius: 10px;
  padding: 1em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  box-shadow: -4px -5px 6px #065685;
}

#copyright {
  color: rgb(224, 216, 205);
}

#lastmod {
  color: yellowgreen;
}

#course {
  text-shadow: 3px 5px 6px #5da0c7;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

#reminder {
  font-style: oblique;
  font-family: "Courier New", Courier, monospace;
}

ul {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
