/* DESKTOP */
@media screen and (min-width: 60em) {
  body {
    max-width: 1000px;
  }
  main {
    grid-template-columns: 1fr 1fr 1fr;
  }
  h1 {
    font-size: 3.5em;
  }
  h3 {
    font-size: 2rem;
  }
  h4,
  p {
    font-size: 1.5rem;
  }
  img {
    width: 35vh;
  }
}
