body {
  /* display: inline-block; */
  margin: 0 auto;
  max-width: 400px;
}
main {
  display: grid;
  grid-template-columns: 1fr;
}
header {
  background-color: skyblue;
  padding: 0.5em;
  text-align: center;
  border-radius: 20px;
  box-shadow: 4px 7px 9px #065685;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
footer {
  background-color: skyblue;
  padding: 1em;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
  box-shadow: -4px -7px 9px #065685;
  border-radius: 20px;
}

h1 {
  font-family: "Cinzel Decorative", cursive;
  font-size: 1em;
  color: brown;
}

h3 {
  font-family: "Cinzel", serif;
  font-size: 0.85rem;
}
h4,
p {
  font-family: "Yuji Syuku", serif;
  font-size: 0.75rem;
}
section {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  border: 1px solid brown;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
}
img {
  border: 1px solid brown;
  width: 28vh;
  height: auto;
  margin: 0 auto;
}
a {
  align-self: center;
}
#lastmod2 {
  color: brown;
}
