/* 35rem is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {
  body {
    max-width: 600px;
  }
  nav ul li a {
    padding: 0.7rem;
    font-size: 1rem;
  }
  date {
    font-size: 0.8rem;
  }
  header {
    padding: 1.5rem;
  }
  footer {
    border-radius: 15px;
    padding: 1rem;
    margin-bottom: 1.5rem;
  }
  #botTitle {
    font-size: 1.1rem;
  }
  #add,
  #copyright,
  #lastmod,
  contact {
    font-size: 0.8rem;
  }
  .botChamber {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .botInfo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  p,
  h3 {
    font-size: 1rem;
  }
  .logo {
    width: 12vh;
  }
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
